{% extends 'base.html.twig' %}

{% block title %}New StandardTraining{% endblock %}

{% block titlePage %}Créer une nouvelle formation{% endblock %}

{% block body %}

    <div class="container">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Nouvelle formation</h6>
            </div>
            <div class="card-body">
                {{ include('standard_training/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
