{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}


{% block body %}
    <div style="margin-top: 13%" class="text-center">
        <img src="{{ asset('img/lmt-logo.png') }}" alt="logo-lmt" style="width: 35%; height: auto;" class="rounded">
        <h1 class="mt-4 text-center" style="font-size: 5vw;">LMT Formation Accueil</h1>
    </div>
{% endblock %}
