{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/todolist.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Edit ToDoList{% endblock %}
{% block titlePage %}Modification de la ToDoList n°{{ to_do_list.getId }}{% endblock %}

{% block body %}

    {{ include('to_do_list/_form.html.twig', {'button_label': 'Update'}) }}

    <div><a href="{{ path('session_index') }}" class="btn btn-secondary ">Retour aux session</a></div>
{% endblock %}
