{% extends 'base.html.twig' %}

{% block title %}New Formateur{% endblock %}
{% block titlePage %}Créer un nouveau formateur{% endblock %}


{% block body %}

    <div class="container">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Nouveaux formateur</h6>
            </div>
            <div class="card-body">
                {{ include('formateur/_form.html.twig') }}
                <a href="{{ path('formateur_index') }}" class="btn btn-secondary">Retour</a>
            </div>
        </div>
    </div>

{% endblock %}
